<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/app.css">

</head>


<body class="d-flex flex-column vh-100">
    <nav class="navbar navbar-expand-lg bg-body-tertiary "data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">VapeMap</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/shop/all">All shops</a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
<div class="d-flex text-center " id="dfd">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" >
  <div class="px-3 mt-5">
      <h1 class="text-white">VapeMap</h1>
      
    <p class="text-white">Reprehenderit harum labore quae reiciendis, accusantium minima assumenda earum delectus perferendis ipsam rem itaque hic, a nulla est cumque quisquam expedita asperiores?</p>
 
</div>
</div>

  </div>
</div>


<div class="wrapper">
  
 
  <div class="items">
    <div class="item" tabindex="1" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0NTY7AJLP0_xLbRs3DTmXOFkMOE83SWCRHYclTymJ28nirUcOkbX3TzVArNO6oXCgdwo&usqp=CAU)"></div>
    <div class="item" tabindex="1" style="background-image: url(https://sun9-31.userapi.com/impg/COtz66zXkyXU5BJMkUSYO6I5BBTPbx_ZefHzAw/1ouEXTn6BLY.jpg?size=807x537&quality=95&sign=9686e588037f380acb0fc8bdd8a19f80&type=album)"></div>
    <div class="item" tabindex="1" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwFYwP4aJcKXGFA2x80SlFLJGdZt186SCcfIEP8-XrOjyS_sGBG6r9KLJT0eaLNeL6gME&usqp=CAU)"></div>
    <div class="item" tabindex="1" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREY0ncVVBzcec9p9CzVc7evqC5ervWkqoWtw&usqp=CAU)"></div>
    <div class="item" tabindex="1" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHU4CHa7187q9Ocb2RLTEx1VPalM2BGSuVAw&usqp=CAU)"></div>
    <div class="item" tabindex="1" style="background-image: url(https://burobiz-a.akamaihd.net/uploads/images/129758/large_123.jpg)"></div>
    <div class="item" tabindex="1" style="background-image: url(https://pp.userapi.com/c841139/v841139287/2ead7/LZBgai0hzL4.jpg)"></div>
    <div class="item" tabindex="1" style="background-image: url(https://burobiz-a.akamaihd.net/uploads/images/138166/large_2cb6d71779f3d20a4dde208def8a1a2b.jpg)"></div>
    <div class="item" tabindex="1" style="background-image: url(https://avatars.mds.yandex.net/get-altay/777564/2a00000184f123292e97cd3ce1aae5ecb096/L_height)"></div>
    <div class="item" tabindex="1" style="background-image: url(https://topfranchise.ru/upload/iblock/dde/dde9271f49c557d711c229d4323fa02d.jpg)"></div>
    <div class="item" tabindex="1" style="background-image: url(https://sovcominvest.ru/uploads/photo/25175/image/94baa6277e93b12177ca63bb1ca80868.jpg)"></div>
    <div class="item" tabindex="1" style="background-image: url(https://burobiz-a.akamaihd.net/uploads/images/137349/large_%D0%B2%D0%B5%D0%B9%D0%BF_1.jpg)"></div>
    <div class="item" tabindex="1" style="background-image: url(https://burobiz-a.akamaihd.net/uploads/images/124003/large_XXXL__20_.jpg)"></div>
  </div>
</div>
</div>
  <footer class="mt-auto text-white-50 fixed-bottom">
    <p>&copy; 2023 VapeShop</p>
</footer>
</body>
</html>